:host {
    .repos-list-avatar {
        height: 40px;
        width: 40px;
        border-radius: 16px;
    }

    .repos-table {
        padding: 16px;
        height: 400px;
        overflow: scroll;
        width: 95vw;

        th {
            padding: 16px;
            outline: 2px solid lightblue;

        }

        .repos-table-row {
            height: 60px;
            cursor: pointer;

            td {
                padding: 16px;
                outline: 2px solid lightblue;
            }

        }

        .repos-table-row:hover {
            background-color: whitesmoke;
        }
    }

    .repos-table-container {
        height: calc(100vh - 250px);
        overflow-y: auto;
        display: block;
    }

}