:host {
    .repos-list-avatar {
        height: 40px;
        width: 40px;
        border-radius: 16px;
    }

    .repos-table {
        min-width: 50vw;
        padding: 16px;
        height: calc(100vh - 200px);
        overflow: scroll;

        th {
            padding: 16px;
            outline: 2px solid lightblue;

        }

        .repos-table-row {
            height: 60px;
            cursor: pointer;

            td {
                padding: 16px;
                outline: 2px solid lightblue;
            }

        }

        .repos-table-row:hover {
            background-color: whitesmoke;
        }
    }


}